db/mysql_data/*
db/postgres_data/*
db/phpmyadmin/*
db/logs/mysql/*
db/logs/postgres/*
web/logs/*
web/ssl/keys/*
web/php7/httpd.conf
web/php7/php.ini
web/php5/httpd.conf
web/php5/php.ini
mails/*
.docker-sync
.idea
